scripts/similar_colors1.json
scripts/similar_colors.json
scripts/Jsons
Images
ImageToArray/Python scripts/scripts/__pycache__
ImageToArray/Python scripts/MinecraftImage.png
ImageToArray/Python scripts/JSONs
ImageToArray/Python scripts/processed_images
